<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h1> Home Page</h1>
        <h2>Select your account type</h2>
        <form action="/customer/home" method="get">
            Customer: <input type="submit">
        </form>
        <br>
        <br>

        <form action="/pharmacy/home" method="get">
            Pharmacy: <input type="submit">

        </form>
        <br>
        <br>

        <form action="/system_admin/login" method="get">
            System Admin: <input type="submit">

        </form>
        <br>
        <br>
    </body>
</html>