<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="png" href="/assets/images/head_logo.png">
    <title>Administrator | Add Branded Drug</title>
    <link rel="stylesheet" href="/assets/bootstrap3.min.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="/assets/css/customAdmin.css" media="screen" title = "no title" charset = "utf-8">
    <script src="/assets/jquery.min.js"></script>
    <script src = "/assets/bootstrap3.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
<%- include('../includes/admin-navbar.ejs') %>
<div class="col-md-8 col-md-offset-2 well formUnderNav">
    <h2 class="text-center">Add Branded Drug</h2>
    <hr>
    <div id='e' class="bg-danger form-errors text-center text-danger" style='display: none;'>
    </div>
    <form>
        <div class="form-group col-md-6">
            <label for="brand_name">Brand Name </label>
            <input type="text" class="form-control" id="brand_name" name="brand_name" required>
        </div>
        <div class="form-group col-md-6">
            <label for="manufacturer">Manufacturer </label>
            <input type="text" class="form-control" id="manufacturer" name="manufacturer" required>
        </div>
        <div class="form-group col-md-6">
            <!-- TODO: implement a database search to select drug type -->
            <label for="drug_type_id">Drug Type </label>
            <select type="text" class="form-control" id="drug_type_id" name="drug_type_id" required>
                <% for (let drugType of drugTypes) { %>
                <option value="<%=drugType.drug_type_id%>">
                    <%=drugType.drug_type_name%>
                </option>
                <%}%>
            </select>
        </div>
        <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <div class="col-md-12 text-center">
        <hr>
        <form action="/system_admin/drug_type/add" method="get">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Add New Drug Type</button>
        </form>

    </div>
</div>
<script>
    const form = document.querySelector("form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const brand_name = form.brand_name.value;
        const manufacturer = form.manufacturer.value;
        const drug_type_id = form.drug_type_id.value;
        
        if (!(brand_name.length==0 || manufacturer.length==0 || drug_type_id.length==0)) {
            fetch(`/system_admin/drug/add`,{
                    method: "POST",
                    mode: 'cors',
                    body: JSON.stringify({
                        brand_name: brand_name,
                        manufacturer: manufacturer,
                        drug_type_id: drug_type_id
                    }),
                    headers: { 'Content-Type': 'application/json' },

                })
                .then(response => {
                    if (response.status == 200) {
                        const e = document.getElementById("e")
                        e.innerHTML = '<p><p>'
                        e.style['display'] = 'block';
                        alert("Branded drug successfully added!")
                        window.location.href = '/system_admin/drug'
                    }
                    else {
                        const e = document.getElementById("e")
                        e.innerHTML = '<p>Failed to add branded drug<p>'
                        e.style['display'] = 'block';
                    }
                })
        } else {
            const e = document.getElementById("e")

            e.innerHTML = '<p>No field should be empty<p>'
            e.style['display'] = 'block';
        }

    })
</script>

</body>

</html>