<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= pageTitle %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap3.min.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="/assets/css/customAdmin.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css" media="screen" title = "no title" charset = "utf-8">
    <script src = "/assets/bootstrap3.min.js"></script>
</head>

<body>
<div class="row">
    <div class="text-center">
        <h3>Delete Branded Drug?</h3>
        <form action="/system_admin/drug/delete" method="POST" class="form-on-sameline">
            <input type="hidden" name="branded_drug_id" value="<%=branded_drug_id%>">
            <button type="submit" class="btn btn-lg btn-primary">Delete</button>
        </form>
        <form action="/system_admin/drug" method="get" class="form-on-sameline">
            <button type="submit" class="btn btn-lg btn-default">Cancel</button>
        </form>
    </div>
</div>

</body>

</html>
