<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= pageTitle %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h2>
        Drug Type
    </h2>
    <main>
        <div>
            <table>
                <thead>
                    <th>Drug Type ID</th>
                    <th>Drug Type</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%=drug_type.drug_type_id%>
                        </td>
                        <td>
                            <%=drug_type.drug_type_name%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    </main>
</body>

</html>
