<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= pageTitle %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap3.min.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="/assets/css/customAdmin.css" media="screen" title = "no title" charset = "utf-8">
    <script src="/assets/jquery.min.js"></script>
    <script src = "/assets/bootstrap3.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
<%- include('../includes/admin-navbar.ejs') %>
    <h2 class="text-center">Home</h2>
    <hr>
        <div class="col-md-2">
            <div class="container serviceImgCover">
                <img src="/assets/images/drug-type.svg" class="servicesSVG"/>
            </div>
            <form action="/system_admin/drug_type" method="GET" class="text-center">
                <button type="submit" class="btn btn-primary">View Drug Types</button>
            </form>
        </div>
        <div class="col-md-2">
            <div class="container serviceImgCover">
                <img src="/assets/images/branded-drug.svg" class="servicesSVG"/>
            </div>
            <form action="/system_admin/drug" method="GET" class="text-center">
                <button type="submit" class="btn btn-primary">View Branded drugs</button>
            </form>
        </div>
        <div class="col-md-2">
            <div class="container serviceImgCover">
                <img src="/assets/images/search-pharmacy.svg" class="servicesSVG"/>
            </div>
            <form action="/system_admin/pharmacy/search" method="GET" class="text-center">
                <button type="submit" class="btn btn-primary">Search Pharmacy</button>
            </form>
        </div>
        <div class="col-md-2">
            <div class="container serviceImgCover">
                <img src="/assets/images/approval-pending.svg" class="servicesSVG"/>
            </div>
            <form action="/system_admin/pharmacy/pending" method="GET" class="text-center">
                <button type="submit" class="btn btn-primary">Approval Pending Pharmacies</button>
            </form>
        </div>
        <!-- View reported Pharmacies -->
        <div class="col-md-2">
            <div class="container serviceImgCover">
                <img src="/assets/images/pharmacy-report.svg" class="servicesSVG"/>
            </div>
            <form action="/system_admin/report/view/reportedPharmacies" method="GET" class="text-center">
                <button type="submit" class="btn btn-primary">View reported Pharmacies</button>
            </form>
        </div>
        <div class="col-md-2">
            <div class="container serviceImgCover">
                <img src="/assets/images/search-customer.svg" class="servicesSVG"/>
            </div>
            <form action="/system_admin/customer/search" method="GET" class="text-center">
                <button type="submit" class="btn btn-primary">Search customer</button>
            </form>
        </div>

</body>

</html>
