<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<main>
    <%if (hasErrors) {%>
    <div><%=errors%></div>
    <%}%>
    <div>
        <form action="" method="post">
            <label for="pharmacyId">Pharmacy ID</label>
            <input type="text" name="pharmacyId" id="pharmacyId">
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div>
        <%if (pharmacyInfo.length===1){ %>
            <p><%=pharmacyInfo[0].pharmacy_id%></p>
            <a href="http://localhost:3000/system_admin/pharmacy/view/<%=pharmacyInfo[0].pharmacy_id%>">View</a>
        <%}%>
    </div>
</main>
</body>
</html>
