<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Drug Type Form</title>
</head>

<body>
    <!-- TODO: notify update successful/fail and redirect to all drugs -->
    <form method="POST" action="/system_admin/drug_type/update">

        Drug Type ID: <input type="text" id="drug_type_id" name="drug_type_id" value="<%=drugType.drug_type_id%>"
            required readonly>
        <br>

        Drug Type Name: <input type="text" id="drug_type_name" name="drug_type_name"
            value="<%=drugType.drug_type_name%>" required>
        <br>

        <button type="submit">Update</button>
    </form>

</body>

</html>