<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="png" href="/assets/images/head_logo.png">
    <title>User | Sign In</title>
    <link rel="stylesheet" href="/assets/css/sign_in.css">
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin">
                <form action="/customer/login" class="sign-in-form" method="POST">
                    <h2 class="sign-in-title">Sign In</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="Email" required/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" name="password" placeholder="Password" required/>
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                </form>
            </div>
        </div>
  
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New to Pharmacy Finder ?</h3>
                    <p>Enter your drug list and find the nearby pharamacies in which your drugs are available within few seconds.</p>
                    <button type="button" class="btn transparent" id="sign-up-btn" onclick="location.href='/customer/signup'">Sign Up</button>
                </div>
                <img src="/assets/images/sign_in.svg" class="image"/>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    </body>
</html>