<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>

        <form action="/customer/signup" method="POST">

            Full Name: <input type="text" id="full_name" name="full_name">
            <br>

            NIC: <input type="text" id="nic" name="nic">
            <br>

            Address: <input type="text" id="address" name="address">
            <br>

            Gender:
            <input type="radio" id="gender" name="gender" value="Male">
            <label for="Male"> Male</label><br>
            <input type="radio" id="gender" name="gender" value="Female">
            <label for="Female"> Female</label><br>
            <br>
            Date of Birth: <input type="date" id="dob" name="dob">
            <br>

            Contact Number : <input type="text" id="contact_no" name="contact_no">
            <br>

            Email Address: <input type="email" id="email" name="email">
            <br>

            Password: <input type="password" id="password" name="password">
            <br>


            <input type="submit">
        </form>

    </body>

</html>