<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<main>
    <table>
        <% for(var i=0; i < res_pharm_info.length; i++) { %>
           
             <h2>Pharmacy ID: <%= res_pharm_info[i].pharmacy_id %></h2>
             <p>Name: <%= res_pharm_info[i].name %></p>
             <p>Address: <%= res_pharm_info[i].address %></p>
             
             <br><br>
           
        <% } %>
    </table>

</main>
</body>
</html>
