<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <h1>Customer Start Page</h1>
</head>
<body>
<main>
    
        <% for(var i=0; i < all_requests.length; i++) { %>
            <li><a href="/customer/request/view/req/<%= all_requests[i].request_id %> ">Request ID: <%= all_requests[i].request_id %> Date Sent: <%= all_requests[i].date_created %></a> </li>
            
             <br><br>
           
        <% } %>
    <form action="/customer/pharmacy/search" method="get">
        <input type="submit" value="Search for pharmacy">
    </form>
    <br>
    <form action="/customer/request/broadcast" method="get">
        <input type="submit" value="Create new request">
    </form>
    <br>

    <form action="/logout" method="get">
        <input type="submit" value="Log out">
    </form>

    <br>


</main>
</body>
</html>
