<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="png" href="./Images/head_logo.png">
    <title>Pharmacy | Sign In</title>
    <link rel="stylesheet" href="./Styles/sign_in.css">
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin">
                <form action="#" class="sign-in-form">
                <h2 class="sign-in-title">Sign In</h2>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" required/>
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" required/>
                </div>
                <input type="submit" value="Login" class="btn solid" />
                <p class="social-text">Or Sign in with a social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                    <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                </form>
            </div>
        </div>
  
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New to Pharmacy Finder ?</h3>
                    <p>Register your pharmacy as a service provider and increase your sales.</p>
                    <button type="button" class="btn transparent" id="sign-up-btn" onclick="location.href='./pharmacy_signup.html'">Sign Up</button>
                </div>
                <img src="./Images/sign_in.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    </body>
</html>