<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/assets/register.js"></script>
        <title>Pharmacy Register Form</title>
    </head>

    <body>

        <form>

            Name: <input type="text" id="name" name="name">
            <br>

            Address: <input type="text" id="address" name="address">
            <br>

            Longitude: <input type="number" step="0.000001" id="longitude" name="longitude">
            <br>

            Latitude: <input type="number" step="0.000001" id="latitude" name="latitude">
            <br>

            Email Address: <input type="email" id="email" name="email">
            <br>

            Contact Number : <input type="text" id="contact_no" name="contact_no">
            <br>

            Password: <input type="password" id="password" name="password">
            <br>

            Confirm Password: <input type="password" id="confirm_password" name="confirm_password">
            <br>


            <button type="submit">Register</button>
        </form>

    </body>

</html>